.swiper-wrapper div {
    color: white;
    background-size: cover;
}

#pagination {
    position: absolute;
    width: auto !important;
    left: auto !important;
    margin: 0;
    right: 3%;
    bottom: 10%;
}

.swiper-pagination-bullet {
    border-radius: 8px;
    width: auto;
    height: 30px;
    opacity: 1;
    transition: ease-in-out .1s;
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #ffffff36;
    border: 2px solid #ffffff13;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px;
}

#watch {
    font-kerning: none;
}
/* animation slider */
.swiper-slide-active h1 {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation: fade-up 1s both;
}.swiper-slide-active button:nth-child(2) {
    animation: jump .5s both;
}
#small-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 10px;
    border-radius: 550px; 
    background: #767b79;
    cursor: pointer;
    transition: ease-in-out .3s;
  }
  
  #small-range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #767b79;
    cursor: pointer;
  }
